/* .Projects{
    margin: 5% 10%;
    margin-bottom: 25%;
    text-align: center;
    
}

.ProjectComp{
    margin: 20px 0;
    
}
 */

 .cardtext
{
    height: 100%;
}

.cardtextchilder
{
    height: 100%;
}
.cardtextchilder
{
    height: 80%;
}