.toggleButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-top: 3%;
    margin-left: 5%;
    /* color: indigo; */
}

.toggleButton:focus{
    outline: none;
}

.toggleButton_Line{
    width: 25px;
    height: 2px;
    background-color: white;
}